@import 'fonts.css';
/*@import '~normalize.css';*/

body {
  font-weight: 300;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  color: #282f39;
  position: fixed;
}

.CustomFont1 {
  font-family: 'CustomFont1', sans-serif;
}

.CustomFont2 {
  font-family: 'CustomFont2', sans-serif;
}

.CustomFont3 {
  font-family: 'CustomFont3', sans-serif;
}

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  font-size: inherit;
  line-height: 1em;

  user-select: none;
}

#app {
  position: absolute;
}

input, textarea {
  border: 0;
  user-select: text;
}

a,
a:visited {
  text-decoration: none;
}

.LogoImage {
  background-image: url('../assets/images/viewar_logo.svg');
}

.BackgroundImage {
  background-image: url('../assets/images/viewar_background.jpg');
}

.ButtonImage {
  /*-webkit-mask-position: top left;*/
  -webkit-mask-size: 800%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('../assets/images/buttons_base.svg');
}

.ButtonColor {
  background-color: rgb(189, 24, 25);
}
