.Tag {
  padding: 0 8px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #0089e0;
  margin: 0 18px 7px 0;
  height: 24px;
  border-radius: 4px 0 0 4px;
  position: relative;
}

.Tag:before {
  content: '';
  float: left;
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #0089e0;
  border-style: solid;
  border-width: 12px 0 12px 12px;
}

.Tag:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  float: left;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  box-shadow: -1px -1px 2px #004977;
}
