.Tag {
  display: flex;
  align-items: center;
  color: white;
  background-color: #006afc;
  margin: 0 2rem 0.5rem 0;
  padding: 1rem 0.5rem 1rem 1.5rem;
  position: relative;
  border-radius: 1000px 0 0 1000px;
  font-size: 1.4em;
}

.Tag:before {
  content: '';
  float: left;
  position: absolute;
  top: 0;
  right: -1.5rem;
  height: 100%;
  width: 1.5rem;
  background-color: #006afc;
  border-radius: 0 1000px 1000px 0;
}

.Label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Tag:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.5rem;
  float: left;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-mask-size: 800%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('../../../assets/images/helpar_buttons.svg');
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 0);
  background-color: white;
}
