.Call {
  margin-top: 2rem;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: opacity 0.5s ease;
  background-color: #003ba1;
  padding: 2.6rem 3rem;
  color: white;
  width: 100%;
  transform: translateX(-3rem);
}

.isHidden.Call {
  opacity: 0;
  pointer-events: none;
}

.CallMessage {
  font-size: 2.5em;
}

@media only screen and (orientation: landscape) {
  .CallButton {
    max-width: 30vmax;
  }
}
