.Container {
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: all;
  transition: opacity 0.5s ease;
  width: 40px;
  height: 40px;
  margin: 20px;
}

.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.Background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  z-index: 1;
}

.Border {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #006dff;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Container:focus,
.Button:focus {
  outline: 0;
}

.isHidden.Container {
  opacity: 0;
  pointer-events: none;
}

.isLarge.Container {
  width: 100px;
  height: 100px;
}

.isMedium.Container {
  width: 60px;
  height: 60px;
}

.isSmall.Container {
  width: 30px;
  height: 30px;
}

.colorRed.Button {
  background-color: #ff0000;
}

.colorGreen.Button {
  background-color: #00cc00;
}
.colorWhite.Button {
  background-color: white;
}

.Button.icon-back {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-close {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 0);
}

.Button.icon-add {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 6);
  background-position-y: calc(100% / 7 * 0);
}

.Button.icon-confirm {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-cancel {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 3);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-call {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 4);
  background-position-y: calc(100% / 7 * 0);
}

.Button.icon-call2 {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 3);
  background-position-y: calc(100% / 7 * 0);
}

.Button.icon-endcall {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 5);
  background-position-y: calc(100% / 7 * 0);
}

.Button.icon-pause {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 5);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-play {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 6);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-star {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 1);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-star2 {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 0);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-annotation_mark {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 4);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-annotation_helpar_user_highlight {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 5);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-annotation_right {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 6);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-annotation_left {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 7);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-pencil {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 7);
  background-position-y: calc(100% / 7 * 0);
}

.Button.icon-account {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 3);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-logout {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 4);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-freezeframe {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 0);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-perspective {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 5);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-cast {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 1);
  background-position-x: calc(100% / 7 * 7);
  background-position-y: calc(100% / 7 * 1);
}

.Button.icon-mute {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 3);
  background-position-x: calc(100% / 7 * 0);
  background-position-y: calc(100% / 7 * 3);
}

.Button.icon-unmute {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 7);
  background-position-y: calc(100% / 7 * 2);
}

.Button.icon-mute_speaker {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 3);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 3);
}

.Button.icon-unmute_speaker {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 3);
  background-position-x: calc(100% / 7 * 1);
  background-position-y: calc(100% / 7 * 3);
}

.Button.icon-draw {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 7);
  background-position-y: calc(100% / 7 * 0);
}
