.Annotation {
}

.Description {
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
  transition: opacity 0.5s ease;
  pointer-events: none;
  border-radius: 10px;
  font-size: 1.3em;
}

.isHidden.Description {
  opacity: 0;
}
