.AnnotationPicker {
  transition: opacity 0.5s ease;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.Annotations {
  position: absolute;
  left: 0;
  bottom: 0;
  flex: 0 0 auto;
  overflow-x: auto;
  display: flex;
  flex-flow: column;
  z-index: 35;
}

.Annotation {
  flex: 0 0 auto;
  margin: 20px;
  padding: 6px;
}

.isSelected.Annotation {
  border: 2px solid #006DFF;
  border-radius: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.Annotations .AnnotationButton {
  margin: 0;
}


.Container:before {
  content: '';
  float: left;
  padding-bottom: 75%;
}

.Buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 40;
  display: flex;
  flex-flow: column;
}

.Buttons .Button {
  margin-left: 0;
}

.TouchOverlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.isHidden.AnnotationPicker {
  pointer-events: none;
  opacity: 0;
}
