.RatingStars {
  display: flex;
}

.Star {
  background-color: black;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  -webkit-mask-size: 800%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('../../../assets/images/helpar_buttons.svg');
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 1);
  background-position-y: calc(100% / 7 * 2);
}

.isChecked.Star {
  background-color: #003ba1;
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  background-position-x: calc(100% / 7 * 0);
  background-position-y: calc(100% / 7 * 2);
}

.Star:last-child {
  margin-right: 0;
}
