.TextInput {
  position: relative;
  border-radius: 1000px;
  background-color: #f1f1f1;
  font-size: 1.8em;
  padding: 0.7rem 2rem;
  box-sizing: border-box;
}

.TextInput input {
  width: 100%;
  box-sizing: border-box;
  color: #666;
  padding: 1rem;
  background-color: #f1f1f1;
}

.SearchButton {
  background-color: #006DFF;
  position: absolute;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 3);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 3);
}

.hasInput .SearchButton {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 0);
  background-position-x: calc(100% / 7 * 2);
  background-position-y: calc(100% / 7 * 0);
}

.withSearch.TextInput input {
  padding-right: 3rem;
}
