.Container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1em;
  background: white;
  color: #003ba1;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  border-radius: 1000px;
  max-width: calc(100vw - 2rem);
  padding: 1rem 2rem;
  font-size: 1.3em;
  bottom: 2rem;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.Container > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.isHidden.Container {
  opacity: 0;
}
