.TextArea {
  position: relative;
  border-radius: 2.4rem;
  background-color: #f1f1f1;
  font-size: 1.8em;
  padding: 0.7rem 2rem;
  box-sizing: border-box;
}

.TextArea textarea {
  width: 100%;
  box-sizing: border-box;
  color: #666;
  padding: 1rem;
  background-color: #f1f1f1;
  height: 8em;
}
