.Call {
}

.WaitForSupportAgentOverlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  transition: opacity 0.5s ease;
  z-index: 40;
}

.TouchOverlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.isHidden.WaitForSupportAgentOverlay {
  pointer-events: none;
  opacity: 0;
}

.AnnotationButton {
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 30;
}

.Hint {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(60px + 20px * 2 + 20px);
  border-radius: 1000px;
  padding: 10px 20px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 1.2em;
  white-space: nowrap;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.EndCallButton {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  margin: 20px 0;
  z-index: 50;
}

.FreezeButton {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 30;
}
