.Call {
}

.WaitForSupportAgentOverlay {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #003ba1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 40;
  flex-flow: column;
}

.TouchOverlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.isHidden.WaitForSupportAgentOverlay {
  pointer-events: none;
  opacity: 0;
}

.AnnotationButton {
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 30;
}

.AnnotationDrawButton {
  position: absolute;
  right: 0;
  bottom: calc(60px + 20px * 2 + 20px);
  z-index: 30;
}

.Call .Hint {
  bottom: auto;
  top: 2rem;
}

@media only screen and (orientation: landscape) {
  .Call .Hint {
    top: auto;
    bottom: calc(60px + 20px * 2 + 20px);
  }
}

.Call .EndCallButton {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  margin: 20px 0;
  z-index: 50;
}

.Call .MuteMicrophoneButton {
  position: absolute;
  left: calc(50% + 60px);
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 35;
  width: 40px;
  height: 40px;
  margin: 30px 0;
}

.Call .MuteSpeakerButton {
  position: absolute;
  left: calc(50% - 60px);
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 35;
  width: 40px;
  height: 40px;
  margin: 30px 0;
}

.FreezeFrames {
  position: absolute;
  top: 0;
  left: 0;
  max-height: calc(100% - ((60px + 20px * 2) * 3 + 40px));
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
  transition: opacity 0.25s ease;
}

.FreezeFrames.isHidden {
  opacity: 0;
  pointer-events: none;
}

.FreezeFrame {
  flex: 0 0 auto;
  margin-bottom: 20px;
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FreezeFrame img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;

  /* Rotate image because of core bug. */
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  object-position: bottom center;
}

.FreezeFrameButton {
  position: absolute;
  left: 0;
  bottom: calc((60px + 20px * 2) * 2 + 20px);
  z-index: 30;
}

.SendFreezeFrameButton,
.PerspectiveButton {
  position: absolute;
  left: 0;
  bottom: calc(60px + 20px * 2 + 20px);
  z-index: 30;
}

.UnpauseButton,
.FreezeButton {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 30;
}

.WaitMessage {
  font-size: 2.6em;
  line-height: 1.1em;
  width: calc(100% - 9rem);
  text-align: center;
}

.WaitAnimation {
  background: url('../../../assets/images/animations/waiting_support_animation.gif')
    center / contain no-repeat;
  width: 9rem;
  height: 9rem;
  margin-top: 1rem;
  margin-bottom: 100px;
}
