.TextButton {
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 1em;
  height: 3em;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.isHidden.TextButton {
  opacity: 0;
}

.isInactive.TextButton {
  background-color: #666;
}
