.ProductSelection {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.ProductSelectionContent {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
  padding: 12px;
}

.SelectProductInput {
  width: 100%;
  flex: 0 0 auto;
}

.Products {
  flex: 1 1 auto;
  display: flex;
  overflow-y: auto;
  flex-flow: column;
  position: relative;
  margin: 16px 0;
}

.Product {
  display: flex;
  margin-top: 16px;
  position: relative;
  min-height: 32px;
  border-bottom: 1px solid grey;
  padding: 0 30px 16px 0;
  line-height: 16px;
  flex-flow: row wrap;
  flex: 0 0 auto;
}

.Product:last-of-type {
  border-bottom: 0;
}

.SelectButton {
  position: absolute;
  right: 0;
  top: calc(50% - 16px);
  margin: 0;
  transform: translateY(-50%);
}

.NoResult {
  pointer-events: none;
  transition: opacity 0.5s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.NoResultText {
  font-size: 1.4em;
}

.NoResultImage {
  width: 60px;
  height: 60px;
  background: url('../../../assets/images/icons/icon_arrow_up.svg') center / contain no-repeat;
  margin-bottom: 16px;
}

.isHidden.NoResult {
  opacity: 0;
}
